@model Autoparts.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="card rounded-5 mt-5 animate__animated animate__fadeInUp">
    <div class="card-header bg-success rounded-5 py-5">
        <h1 class="display-4 text-white text-center">Create Category</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 d-flex justify-content-between">
                        <input type="submit" value="Create" class="btn btn-success rounded-5 p-2 px-5" />
                        <a asp-action="Index" class="btn btn-outline-success rounded-5 pt-2 px-4">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
