@model Autoparts.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="card rounded-5 mt-5 animate__animated animate__fadeInUp">
    <div class="card-header bg-primary rounded-5 py-5">
        <h1 class="display-4 text-white text-center">Edit User</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    @if (ViewBag.Role == "Admin")
                    {
                        <div class="form-group mt-3">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-select rounded-5 p-2">
                                <option value="" selected disabled>Role</option>
                                @foreach (var role in Enum.GetValues(typeof(Role)))
                                {
                                    <option value="@role">@role</option>
                                }
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    }

                    <div class="form-group mt-3">
                        <input asp-for="Login" class="form-control rounded-5 p-2" placeholder="Login" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3">
                        <input type="password" asp-for="Password" class="form-control rounded-5 p-2" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 d-flex justify-content-between">
                        <input type="submit" value="Save" class="btn btn-primary rounded-5 p-2 px-5" />
                        <a asp-action="Index" class="btn btn-outline-primary rounded-5 pt-2 px-4">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
