@model IEnumerable<Autoparts.Models.Brand>

@{
    ViewData["Title"] = "Brands";
}

<div class="card rounded-5 mt-5 animate__animated animate__fadeInUp">
    <div class="card-header bg-success rounded-5 py-3">
        <h1 class="display-4 text-white text-center">Brands</h1>
    </div>
    <div class="card-body">
        <div class="text-center mb-3">
            <a asp-action="Create" class="btn btn-primary rounded-5">Create New</a>
        </div>
        <table class="table table-striped border-0 table-borderless">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary rounded-5">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-5">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
